target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/

### Logs ###
*.log
HELP.md
